:root {
    --dark-text-color: #5E495B;
    --main-text-color: #666666;
    --green-color: #0B949F;
    --accent-color: #E96057;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--accent-color);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 500;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--green-color);
    text-transform: uppercase;
    margin: 20px 0 15px 0;
    text-align: center;
    padding-bottom: 35px;
}

/* header start */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--dark-text-color);
    font-size: 16px;
}

header a:hover {
    color: var(--accent-color);
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin: 0 20px; 
}

.quote p {
    padding-top: 2px;
    font-size: 13px;
    text-transform: uppercase;
}

.quote a {
    color: var(--accent-color);
    font-size: 24px;
}

.quote i {
    color: white;
    background-color: var(--accent-color);
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 12px;
    margin-right: 10px;
}

/* header end */

.full-width-banner {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.full-width-banner img {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.full-width-banner .img-filter::before {
    content: '';
    position: absolute;  
    background-image: url(./img/dark-stripes.png);
    background-repeat: repeat;
    width: 100%;
    height: 550px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.2);
}

.full-width-banner h1 {
    color: white;
    font-size: 39px;
    text-transform: uppercase;
    width: 635px;
    line-height: 56px;
    text-shadow: var(--dark-text-color) 1px 0 10px;
}

.full-width-banner span {
    color: var(--green-color);
    text-shadow: var(--dark-text-color) 1px 0 10px;
}

.full-width-banner ul {
    list-style: none;
    color: white;
    font-size: 24px;
    line-height: 54px;
    padding-top: 16px;
    text-shadow: var(--dark-text-color) 1px 0 10px;
}

.full-width-banner li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    content: "\f00c";
    color: white;
    margin-right: 8px;
    background-color: var(--green-color);
    border-radius: 50%;
    border: 9px solid var(--green-color);
}

.homepage-columns {
    display: flex;
    justify-content: space-between;
    padding: 42px 0px;
}

.homepage-form {
    width: 445px;
    height: 466px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 45px;
}

.homepage-form p {
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 1.5;
    padding: 0 40px 10px;
}

.homepage-form span {
    color: var(--green-color);
}

.homepage-form form input {
    width: 100%;
}

.homepage-form form label {
    width: 100%;
    display: block;
}

.homepage-form form {
    font-family: 'Roboto';
    font-size: 14px;
}

.homepage-form form label {
    color: white;
    margin-bottom: 5px;
}

.homepage-form form select, .homepage-form form input {
    width: 100%;
    padding: 6px 12px;
    color: var(--dark-text-color);
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid var(--main-text-color);
    line-height: 1.5;
}

.homepage-form form .form-button {
    background-color: #337ab7;
    text-transform: uppercase;
    color: white;
    padding: 10px 25px;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    opacity: 0.65;
    border-radius: 4px;
    border: none;
}

.homepage-form form .form-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
}

/* advantages start */

section.advantage-block {
    padding: 50px 0 30px 0;
}

section.advantage-block hr {
    height: 0px;
    margin: 20px auto;
    padding-bottom: 40px; 
    width: 150px;
    border: none;
    border-top: 1px solid #eee;
}

.card-block {
    display: flex;
}

.card-item {
    padding: 25px 15px;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 0px 10px 31px 0px rgba(11, 148, 159, 0.09);
    margin: 0 15px;
    border-bottom: 2px solid transparent;
    transition: all;
    transition-duration: 0.5s;
    text-align: center;
}

.card-item img {
    margin-bottom: 20px;
}

.card-item:hover {
    border-color: var(--green-color);
    box-shadow: 0px 10px 20px 0px rgba(11, 148, 159, 0.2);
}

p.card-title {
    font-weight: 700;
    font-size: 22px;
    color: var(--dark-text-color);
    margin: 20px 0 10px 0;
}

p.card-description {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 300;
}

p.card-price {
    font-weight: 700;
    color: #9E1E15;
}

p.block-description {
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 30px;
    margin-top: -30px;
}

p.block-small {
    margin: 20px 0 0 15px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.55;
}

/* advantages end */

/* why us start */

.why-us p {
    font-weight: 300;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.why-us b {
    font-weight: 700;
}

/* why us end */

/* footer start */

footer {
    width: 100%;
    background-color: var(--dark-text-color);
    text-align: center;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
    padding: 13px 0;
    letter-spacing: 0.01rem; /* strange thing */
}

footer a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* footer end */
